{% extends 'base.html.twig' %}

{% block title %}Liste des amis{% endblock %}

{% block body %}
    <h1>Liste des amis</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Grade</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for friend in friends %}
            <tr>
                <td>{{ friend.username }}</td>
                <td>
                    <a href="{{ path('user_detail', {'id': friend.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Vous n'avez pas encore d'amis</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
